{% extends "include/base.html" %}

{% block body %}
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="static/assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Blog post</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

 
{% endblock body %}

